@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
}


h1 {
    font-weight: 900;
}

button {
    border-radius: 5px/5px;
    background-color: #56BDBA;
    color: white;
    border:none;
}

button:nth-of-type(2) {background-color:#E6E6E6; color: #333;}


h4 { color: #E92B87; font-size: 4em;}
h3 { font-size: 3em;}
h2 { color:#FAA308; font-size: 2em;}

button { font-size: 1.5em;}

h1 { font-size: 5.5em;}





