@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

*{ box-sizing: border-box;}
body {font-family: 'Lato', sans-serif;
font-size: 120%;}
a { text-decoration: none; color: black;
display: block; }
a:hover { background-color: #000; color:white;}

h1 { font-size: 2.5em;}
p, ul { font-size: 1.5em;}
ul { list-style:none; margin:0; padding:0;}

section { padding: 1em;}
.col-3 {width:25%; background-color:gray;
height: 100vh;}
.col-9 { width: 75%; }
.col-12 { width: 100%;}

.fila { display: flex; flex-wrap: wrap ;}

@media (max-width: 768px){

.col-sm-3 { width: 25%; height: auto;}
.col-sm-9 { width: 75%;}
.col-sm-12 { width: 100%;}


}

/* interfaz dividido en 12 columnas*/

/* 

col-1 => 8.33% width
col-2 => 16.66% width
col-3 => 25% width
col-9 => 75 width
col-12 => 100% width


*/
