@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3em;
    background-image: url(../imagenes/fondo.jpg);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

}









